/*color begin*/
.white{
    color:#fff;
}

.red{
    color:#f98080;
}

.pink{
    color:#ff89a4;
}

.light-pink{
    color:#fcf7f8;
}

.deep-red{
    color:#c9302c;
}

.grey{
    color:#0f0f0f;
}
/*color end*/


h1{
    font-family: "微软雅黑";
    font-size: 32px;
    font-weight: bold;
}

.nav-list{
    text-align: left;
}

.btn-red{
    background:#F98080 !important;
    color: #fff !important;
    font-size: 14px;
    border-color:#F98080 !important;
}


#bc_start_btn:hover,#bc_start_btn:focus{
    color:#fff;
    background-color:#c9302c !important;
    border-color:#c9302c !important
}

#table-container{
    padding-top:10px;
}

.table{
    width:80%;
    margin:auto;
}

.page-header{
    width:100%;
    margin:0;
    color:#f98080
}

.page-header>h4{
    color:#f98080
}

/*.box-footer{*/
    /*width:120px;*/
    /*height:50px;*/
    /*line-height:50px;*/

/*}*/
/*.box-blue{*/
    /*padding:120px 120px;*/
/*}*/
/*.logoutBtn{*/
    /*display:inline-block;*/
    /*width:120px;*/
/*}*/

