/* Basic */
body{
    min-height:100%;
}
body a.btn{
    font-size:16px !important;
}
/* Nav */
.nav_img{
    height:80px;
}
/* Sidebar */
.wrapper {
	padding-left: 0em;
	padding-right: 0em;
	margin: auto;
	margin-top: 3em;
	display: block;
	width: 75px;
}

.cssload-loader {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin: 1em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.cssload-loader {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin: 1em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background-color: rgb(255,137,165);
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
	animation: 1.15s infinite ease-in-out;
		-o-animation: 1.15s infinite ease-in-out;
		-ms-animation: 1.15s infinite ease-in-out;
		-webkit-animation: 1.15s infinite ease-in-out;
		-moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
	width: 100%; 
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
		content: "";
}

.cssload-loader {
		animation: cssload-animation 1.15s infinite linear;
		-o-animation: cssload-animation 1.15s infinite linear;
		-ms-animation: cssload-animation 1.15s infinite linear;
		-webkit-animation: cssload-animation 1.15s infinite linear;
		-moz-animation: cssload-animation 1.15s infinite linear;
}



@keyframes cssload-animation {
	0% {	 transform: rotate(0deg); border-radius: 50%; }
	50% {	transform: rotate(90deg); border-radius: 0%; }
	100% { transform: rotate(180deg); border-radius: 50%; }
}

@-o-keyframes cssload-animation {
	0% {	 -o-transform: rotate(0deg); border-radius: 50%; }
	50% {	-o-transform: rotate(90deg); border-radius: 0%; }
	100% { -o-transform: rotate(180deg); border-radius: 50%; }
}

@-ms-keyframes cssload-animation {
	0% {	 -ms-transform: rotate(0deg); border-radius: 50%; }
	50% {	-ms-transform: rotate(90deg); border-radius: 0%; }
	100% { -ms-transform: rotate(180deg); border-radius: 50%; }
}

@-webkit-keyframes cssload-animation {
	0% {	 -webkit-transform: rotate(0deg); border-radius: 50%; }
	50% {	-webkit-transform: rotate(90deg); border-radius: 0%; }
	100% { -webkit-transform: rotate(180deg); border-radius: 50%; }
}

@-moz-keyframes cssload-animation {
	0% {	 -moz-transform: rotate(0deg); border-radius: 50%; }
	50% {	-moz-transform: rotate(90deg); border-radius: 0%; }
	100% { -moz-transform: rotate(180deg); border-radius: 50%; }
}



/* Upload */
.dp_upload_form{
    padding: 60px 40px;
    /*min-height: 400px;*/
    text-align: center;
}
.dp_input_bg{
    width: 86%;
    height: 70px;
   /* background: #eaeaea;*/
    background: #f98080;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align:center;
    position: absolute;
}
.dp_input_bg span{/* input file text span*/
    color: #fff;
    line-height:70px;
    font-size: 16px
}
.dp_input_file{
    width: 80%;
    height: 70px;
    opacity: 0.0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* Footer */
.footer-copyright{
    background-color: #f98080;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
   /** position:fixed;
    bottom:0px;
    width: -webkit-fill-available;**/
}

/* Button */
a.logoutBtn{
    background:#ff89a4 !important;
    color: #fff !important;
    font-size: 16px;
}


/* Deep BC*/

a{
    text-align: center;
    color:#e94565;
}

a.logoutBtn:hover,.logoutBtn:focus{
    color:#fff;
    background-color:#c9302c !important;
    border-color:#ac2925
}
#page-wrapper {
    background: #fcf7f8;
}
#page-wrapper .panel-heading{
    background: #e94565;
    color: white;
    border-color: rgba(95, 117, 121, 0.52);
}

#page-wrapper .btn-bcgreen{
    background:#f98080;
    color:#fff;
}

#page-wrapper .btn-bcgreen:hover{
    background:#E995AE;
    color:#fff;
}
#bc_start{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}
#bc_start button{
    display:none;
}
.bc_small_report img{
    width:90%;
}
#bc_big_report {
    width:100%;
    -moz-box-shadow:2px 2px 5px rgba(188, 132, 142, 0.28);
    -webkit-box-shadow:2px 2px 5px rgba(188, 132, 142, 0.28);
    box-shadow:2px 2px 5px rgba(188, 132, 142, 0.28);
    border: 1px solid #eaeaea;
}


@media (min-width:443px){
#bc_big_report_title{
    background: rgba(178, 142, 150, 0.48);
    width: 300px;
    height: 50px;
    margin-bottom: -60px;
    position: relative;
    padding-left: 30px;
    opacity:0;
}
#bc_big_report_title h4{
    line-height: 50px;
}
}
@media (max-width:442px){
#bc_big_report_title{
	display:none;
}
#bc_big_report_title h4{
    line-height: 50px;
}
}
.bc_report_logo{
    width: 300px;
    height: auto;
    margin-top: 0px;
    padding-bottom:10px;
}
.bc_each_img{
    margin-top:30px;
    margin-bottom:30px;
}
.bc_each_img img{
    width:244px;
}
.bc_each_img span{
    margin-left: 0px;
    display: inline-flex;
    width: 244px;
    background: #000000;
    color: #fff;
    height: 40px;
    line-height: 40px;
    position: relative;
    padding-left: inherit;
    font-size: 16px;
}
#bc_main_overlay p{
	position: absolute;
	top: 60%;
	left: 50%;
	margin-left: -80px;
	margin-top: 0px;
	font-size: 20px;
}


/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-blue {
  border-top-color: #f98080;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-blue {
  border: 1px solid #E995AE;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #e94565;
  background-color: #e94565;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 1);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.box-header > .box-tools .dropdown-menu > li > a {
  color: #444!important;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.chart-legend {
  margin: 10px 0;
}
